<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <appSettings>
    <add key="OutputPath" value="C:\Users\van-d\Downloads\DBF\DBF\stock.csv"/>
    <add key="ExcelConnectionString" value="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\Conor\Desktop\descriptions.xls;Extended Properties='Excel 12.0;IMEX=1;'"/>
    <add key="AccessConnectionString" value="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Users\van-d\Downloads\DBF\DBF\;Extended Properties=dBASE III;"/>
    <add key="StartTime" value="21:00"/>
    <add key="EndTime" value="23:59"/>
    <add key="Season" value="S19"/>
    <add key="Split_Stock_File" value="False"/>
    <add key="Split_OutputPath" value="C:\Users\van-d\Downloads\DBF\DBF\stock"/>
    <add key="Split_Delimiter" value="5000"/>
  </appSettings>
</configuration>
